#header
  .container
    .row
      .header-info
        .col-md-7
          .header-text
            %h1
              %span{:id=> "powerful"} POWERFUL
              WEB AND MOBILE PRODUCTS START-TO-END
            %p With vast experience across several industries, we build successful web and mobile apps. Let us take you from the idea phase all the way to strategy, product definition, design, development, quality assurance and a flawless delivery.
            %p We are dedicated to being your most valued strategic partner. Leave your product in the paws of our passionate pack of wolves.
        .col-md-5
          #logo
          =image_tag "wolf.png"
